html {
  background: #fff url("../img/pexels-felix-mittermeier-956981.jpg") center center/cover no-repeat;
  padding: 1em;
  font-family: sans-serif;
}

body{
  background-color:lavender;
  padding: 0;
  width: 50em;
  margin:auto;
  box-shadow: 18px 17px 18px 10px #724f93, 5px 5px 10px 1px #000;
  border: 2px solid black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  background: linear-gradient(164deg, #1b1c1c 0%, #724f93 51%, #fff 100%);
  color: black;
  border: 1mm;
  padding: 3.5em;
  text-align: center;
}

.header h1{
  font-size: 3em;
}

.nav{
  background-color:darkslateblue;
  border-bottom: 2px solid black; 
}


.nav ul li {
  float: left;
}

.nav ul li a {
  padding: 1em 2em;
  text-decoration: none;
  text-align: center;
  display: block;
  color: white; 
}

.nav ul li:last-child{
  float: right;
}

.nav li a:hover {
  color: chartreuse;
}


.image{
  padding: 2em;
  text-align: center;
  animation: myAnim 5s linear 0s infinite reverse forwards;
}
@keyframes myAnim {
  0% {
    transform: rotate(0);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.about{
  text-align: justify;
  padding: 5em;
}

.footer{
  background: linear-gradient(164deg
  , #1B1C1C 0%, #724F93 51%, #fff 100%);
  color: white;
  border: 1mm;
  text-align: center;
  padding: 3.5em;
  position: absolute;
  bottom: 0;
  width: calc(100% - 7em);
  }

.head{
  color: darkcyan;
  text-align: center;
  border: black;
}

.footer #license a {
  color: cyan;
}

.footer #license a:hover {
  color: chartreuse;
}

ul {
  color: fuchsia;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main{
  min-height: calc(100vh + 2em);
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 195px;
}